.apresentacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding: 120px 0;
}

.img {
  height: 680px;
}

.img::before {
  content: '';
  display: inline-block;
  width: 680px;
  height: 680px;
  background: url("../../assets/imagens/logo-bg.svg") no-repeat;
}

@media (max-width: 1200px) {
  .apresentacao {
    grid-template-columns: 1fr;
  }
  .img {
    display: none;
  }
}

@media (max-width: 800px) {
  .apresentacao {
    padding: 60px 20px;
  }
}